*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/build/
*.dex
*.class
bin/
gen/
.navigation/
captures/
output.json
.cxx/
*.hprof
.kotlin/
